body{
    background-image:url("cloud.jpg") ;
    background-color:rgb(255, 134, 154);
    font-family: "Questrial", sans-serif;
}
.container {
    max-width: 600px;
    margin: 60px auto;
    background-color:rgb(255, 255, 255, 0.8);
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 30px;

}

select{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-family:"Questrial", sans-serif;
    font-size: 16px;
}

img{
    max-width: 300px;
    display: block;
    margin: 0 auto;
}
h1{
    text-align: center;
    font-size: 36px;

} 
h2{
    margin: 0 0 10px;
    font-size: 28px;
}

.city {
    display: flex;
    margin: 25px 0;
    justify-content: space-between;
    border-bottom: 1px dashed #B5AFC2;
    padding: 20px 0;
}
.city:last-child{
    border-bottom: none;
}

.date {
    color: #B5AFC2;

}
.time{
font-size: 50px;
font-weight: 600;
font-family: 'Times New Roman', Times, serif;
}

.time small{
    font-size: 18px;
vertical-align: middle;
}

a {
    color: rgb(255, 55, 145);
    text-decoration: none;
}
footer{
    text-align: center;
    opacity: 0.8;

}